{
  "presets":[
      "env", "react", "es2015", "stage-0"
  ],
   "compact" : true,
  "env": {
    "development": {
      "presets": ["env", "react", "es2015", "stage-0"],
      "plugins": ["transform-runtime", "transform-object-rest-spread", "transform-object-assign", "transform-class-properties"],
      "presets": ["react-hmre"]
    }
  },
  "env": {
    "build": {
      "presets": ["env", "react", "es2015", "stage-0"],
      "plugins": ["transform-object-assign"]
    }
  }
}
