{
  "presets":[
      "env", "react", "stage-0", "es2015"
  ],
   "compact" : true,
  "env": {
    "development": {
      "presets": ["env", "react", "stage-0", "es2015"],
      "plugins": ["transform-runtime", "transform-object-rest-spread"],
      "presets": ["react-hmre"]
    }
  },
  "env": {
    "build": {
      "presets": ["env", "react", "stage-0", "es2015"]
    }
  }
}
